.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 25px 30px;
  margin-top: 10px;
}

@media only screen and (max-width: 991px) {
  .cards {
    display: flex;
    padding: 15px 0;
    margin-top: 5px;
    justify-content: flex-start;
    flex-wrap: nowrap;
    overflow: auto;
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
      display: none;
    }
    a {
      padding: 30px 30px 15px;
      margin: 0 25px 0 0;
      box-shadow: inset 8px 8px 15px #d3dbe9, inset -8px -8px 15px #ffffff88;
    }
  }
}
