.cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 5px;
  &:last-child {
    padding-bottom: 40px !important;
  }
}

@media only screen and (max-width: 768px) {
  .cards {
    padding: 15px 0;
    justify-content: flex-start;
    flex-wrap: nowrap;
    overflow: auto;
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
      display: none;
    }
    a {
      padding: 30px 30px 15px;
      min-width: calc(100vw - 40px);
      margin: 0 25px 0 0;
      box-shadow: inset 8px 8px 15px #d3dbe9, inset -8px -8px 15px #ffffff88;
    }
  }
}
