a.card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  padding: 25px 25px 15px;
  border-radius: 8px;
  color: #4b4b4b;
  position: relative;
  h3 {
    font-size: 2.2em;
    width: 100%;
    margin-bottom: 10px;
    line-height: 1.2em;
    position: relative;
    svg {
      position: absolute;
      width: 16px;
      margin-left: 4px;
    }
  }
  p {
    font-size: 1.6em;
    margin-bottom: 20px;
    min-height: 100px;
    color: #4b4b4bcc;
  }
  ul {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    width: 100%;
    li {
      font-size: 1.3em;
      letter-spacing: 0.1px;
      padding: 4px 10px;
      margin-right: 10px;
      margin-bottom: 10px;
      border-radius: 50px;
      border: 1px solid #e8ecf4;
      box-shadow: 8px 8px 15px #d3dbe9, -8px -8px 15px #ffffffcc;
    }
  }
}

@media only screen and (max-width: 991px) {
  a.card {
    min-width: 42%;
    p {
      min-height: 75px;
    }
  }
}

@media only screen and (max-width: 768px) {
  a.card {
    min-width: 65%;
  }
}

@media only screen and (max-width: 576px) {
  a.card {
    min-width: 100%;
    p {
      min-height: 100px;
    }
  }
}
